 /*Screen Size 16:9 [1920px wide and 1080px high]*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-y: hidden;
}
.center{
	width: 34%;
	margin: 80px 33%;
	height: 500px;
	background: rgba(255,255,255,0.2);
	box-shadow: 0px 0px 10px #00000070;
	background-size: cover;
	padding: 48px 40px 40px 40px;
	box-sizing: border-box;
	border-radius: 2px;
}
.center:hover{
	transition: 0.6s;
	box-shadow: 20px 20px 50px #00000080;
	background-color: #fff;
}
.container{
	
}
.container img[alt="logo"]{
	width: 20%;
	height: 6%;
}
.container h1{
    padding-top: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    font-family: roboto, sans-serif;
}
.container h2{
	font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
    font-family: roboto, sans-serif;
}
.container input[type="text"]{
	margin-top: 65px;
	margin-bottom: 35px;
	padding: 4px 2px;
	border:none;
	border-bottom: 1px solid #828282;
	width: 99%;
	display: block;
	background-color: transparent;
}
.container input[type="text"]:focus{
	transition: 0.2s;
	outline: none;
	border-bottom: 2px solid dodgerblue;
}
.container a{
	text-decoration: none;
	color: dodgerblue;
	font-family: roboto, sans-serif;
}
.container #forgot_link{
	font-size: 14px;
	display: block;
	margin-bottom: 45px;
}
.container small{
	display: block;
	font-family: roboto, sans-serif;
	font-size: 12px;
	padding-bottom: 33px;
	color: #828282;
}
.container #new_account_link{
	font-size: 14px;
	line-height: 2.6em;
}
.container #next_button{
	display: inline-block;
	color: white;
	font-family: roboto, sans-serif;
	background-color: #4285f4;
	font-size: 14px;
	font-weight: 700;
	float: right;
	border-radius: 2px;
	border: none;
	padding: 10px 25px;
	box-sizing: border-box;
	box-shadow: 0px 1px 5px #828282;
	cursor: pointer;
}